{% extends 'base.html' %}.

{% block content %}
    <div class="row container mt-4">
        <div class="col-md">
            <div class="card">
                <div class="card-header">

                </div>
                <div class="card-body">
                    <form method="post" action="">{% csrf_token %}
                        {{ forms.management_form }}
                        {% for form in forms %}
                            <div class="card container">
                                <h4>New Order:</h4>
                                <h5>Product: {{ form.product }}</h5>
                                <h5>Status: {{ form.status }}</h5>
                            </div>
                            <br>
                        {% endfor %}
                        <input type="submit" class="btn btn-primary btn-sm" value="Confirm">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}