{% extends 'base.html' %}


{% block content %}
    {% include 'accounts/status.html' %}
    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-md-5">
                <div class="card card-body">
                    <h4>Customers: </h4>


                    <table class="table">
                        <tr>
                            <th></th>
                            <th scope="col">Customer</th>
                            <th scope="col">Phone</th>
                        </tr>
                        {% for customer in customers %}
                        <tr>
                            <td><a class="btn btn-sm btn-primary" href="{% url 'customer' customer.pk %}">View</a> </td>
                            <td>{{ customer.name }}</td>
                            <td>{{ customer.phone }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="col-md-7">
                <div class="card card-body">
                    <h3>Last 5 Orders:</h3>


                    <table class="table">
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Data Ordered</th>
                            <th scope="col">Status</th>
                            <th scope="col">Update</th>
                            <th scope="col">Remove</th>
                        </tr>
                        {% for order in orders %}
                        <tr>
                            <td>{{ order.product }}</td>
                            <td>{{ order.date_created }}</td>
                            <td>{{ order.status }}</td>
                            <td><a class="btn btn-sm btn-info" href="{% url 'update_order' order.pk %}">Update</a> </td>
                            <td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' order.pk %}">Delete</a> </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}